.typing-text {
  white-space: pre;
  color: black;
  font-size: 35px;
}

.blinking-cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
