.about-container {
    background: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.title-container {
    height: 100%;
    background: black;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.description-container {
    height: 100%;
    background: black;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    background: black;
    color: white;
    margin: 50px;
    font-size: 550px;
    font-family: "Jersey 15", sans-serif;
    justify-content: center;
    align-items: center;
    cursor: default;
    user-select: none;
}

.description {
    background: black;
    color: #808080;
    margin: 40px 20px 40px 20px;
    font-size: 100px;
    font-family: "Jersey 15", sans-serif;
    cursor: default;
    user-select: none;
    transition: color 0.5s ease;
}

.description:hover {
    color: white;
}
