.about-container {
    background: black;
    width: 100vw;
    height: 440px;
    top: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.easy-container {
    height: 100%;
    background: black;
}

.frontend-is-easy {
    background: black;
    color: white;
    margin: 40px 20px 40px 20px;
    font-size: 400px;
    font-family: "Jersey 15", sans-serif;
}
