.moving-text-border {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  background-color: white;
}

/* Horizontal sides */
.top-border,
.bottom-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  white-space: nowrap;
  flex-direction: row;
}

/* Vertical sides */
.left-border,
.right-border {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100px;
  flex-direction: column;
  top: 0;
}

.top-border { top: 0; left: 0; }
.bottom-border { bottom: 0; left: 0; }
.left-border { left: 0; }
.right-border { right: 0; }

.words-top, .words-bottom {
  margin: 0 10px;
}

.words-left, .words-right {
  margin: 10px 0;
}

.moving-text {
  display: flex;
  flex-wrap: nowrap;
}

.left-border .moving-text,
.right-border .moving-text {
  flex-direction: column;
}

.top-border .moving-text {
  animation: scroll-right 50s linear infinite;
}

.bottom-border .moving-text {
  animation: scroll-left 50s linear infinite;
}

.left-border .moving-text {
  animation: scroll-up 60s linear infinite;
}

.right-border .moving-text {
  animation: scroll-down 60s linear infinite;
}

@keyframes scroll-left {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@keyframes scroll-right {
  from { transform: translateX(-50%); }
  to { transform: translateX(0); }
}

@keyframes scroll-up {
  from { transform: translateY(0); }
  to { transform: translateY(-50%); }
}

@keyframes scroll-down {
  from { transform: translateY(-50%); }
  to { transform: translateY(0); }
}
