.moving-text-border {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.top-border { top: 0; left: 0; }
.bottom-border { bottom: 0; left: 0; }
.left-border, .right-border {
  writing-mode: vertical-rl;
  height: 100%;
  width: 50px;
}

.left-border { left: 0; }
.right-border { right: 0; }

.moving-text {
  display: inline-block;
  animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); }
}
