.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.bottom-left-arrow {
    position: absolute;
    bottom: 200px;
    left: 200px;
    font-size: 2rem;
    image-rendering: pixelated;
    cursor: default;
}

.down-image {
    height: 160px;
    border: none;
}

.down-button {
    border: none;
}
